<!-- Button trigger modal -->
<button (click)="clickAddKonsult()" class="btn myBtn myBtnCreate mt-3" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Skapa ny konsult
</button>

<table class="table mt-3">
  <thead>
    <tr>
      <th class="col konsultContent">Konsult Id</th>
      <th class="col konsultContent">Förnamn</th>
      <th class="col konsultContent">Efternamn</th>
      <th class="col konsultContent">Startdatum</th>
      <th class="col konsultContent">Ändra/radera konsult</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of konsulterData!">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row?.startingDate}}</td>
      <td class="col konsultContent">
        <button class="btn btn-success myBtn me-3" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onEdit(row)">Uppdatera</button>
        |
        <button class="btn btn-danger myBtn ms-3" (click)="deleteKonsult(row)">Radera</button>
      </td>
    </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Skapa ny konsult</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <!-- <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="text" formControlName="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div> -->
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Förnamn</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Efternamn</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Anställningsdatum</label>
            <input type="date" formControlName="startingDate" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button"class="btn myBtn myBtnSubmit" *ngIf="showLTBtn" (click)="postKonsultDetails()">Spara konsult</button>
          <button type="button"class="btn myBtn myBtnSubmit" *ngIf="showUDBtn" (click)="updateKonsultDetails()">Uppdatera konsult</button>
          <button type="button" id="cancel" class="btn myBtn myBtnCancel" data-bs-dismiss="modal">Ångra</button>
        </div>
      </div>
    </div>
  </div>
</div>
