/* ---- Custom Style ----*/
.myBorder {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.konsultHeader {
  margin-top: 10px;
  font-weight: 600;
}

.konsultContent {
  margin: 0 0 5px 0;
}

.linkStyle {
  text-decoration: none !important;
  color: #3ac2a6;
}

  .linkStyle:hover {
    color: #3ac2a6
  }

.myH1 {
  padding: 50px 0;
  text-align: center;
}

.table th,
table td {
  border-top: 0px;
  vertical-align: middle !important;
}

.backAnchor {
  color: #4ab7a1;
}

  .backAnchor:hover {
    color: black;
    text-decoration: none;
  }
