a:hover {
  color: #000 !important;
}
.hourInput {
  width: 40% !important;
  text-align: center;
  background-color: #2ABB9B !important;
  color: white !important;
  font-weight: 700 !important;
}
/* -----Navbar and link styles----- */
.myNavbar {
  background-color: #2ABB9B;
}

.navbar-brand {
  color: white;
}

.nav-link,
.navbar-nav {
  color: black !important;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}
.debHours {
  font-weight: 700;
  text-align: center;
}
.centerText {
    text-align: center;
}
.nettoResultatBox {
    width: 90% !important;
    text-transform: uppercase;
}
.myBoldText {
    font-weight: 700;
}
/* -----My Button styles----- */
.myBtn {
  color: #fff;
  background-color: #4ab7a1;
  border-color: #4ab7a1;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.myBtnEdit,
.myBtnDelete {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.myBtnEdit {
  color: #4ab7a1;
}
.myBtnSave {
  color: lawngreen;
}
.myBtnDelete {
  color: red;
}
.myBtnSubmit {
  background-color: #2abb9b !important;
}
.myBtnCreate {
  background-color: orange !important;
}
.myBtnCancel {
    background-color: gray !important;
    color: white !important;
}
.myBtnBack {
  background-color: lightgray !important;
}
.myBtnHome {
  border: 1px solid black !important;
}
.debHours {
    font-weight: 700;
    text-align: center;
}

