<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h2>{{konsult?.firstName}} {{konsult?.lastName}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div><strong>Anställnings id:</strong> {{konsult?.id}}</div>
      <div><strong>Förnamn:</strong> {{konsult?.firstName}}</div>
      <div><strong>Efternamn:</strong> {{konsult?.lastName}}</div>
      <div><strong>Start datum:</strong> {{konsult?.startingDate}}</div>
      <div><strong>Bonus:</strong></div>
      <hr />
      <button class="btn myBtn myBtnBack mt-3" [routerLink]="['/konsulter']">Tillbaka</button>
    </div>
    
  </div>
</div>
